
@{
    ViewBag.Title = "Register Successful";
}

<h2>Register Successful</h2>

<script>
    alert("Register successful, log in and start to shopping now.");
</script>

<input type="button" class="btn btn-default" value="Switch to log in" onclick="location.href='@Url.Action("SignIn","All")'" />
